body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.a {
  background-color:#00a652;
  height: 260px;
  width: 160px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
}
.b {
  display: flex;
  flex-direction: column;
}
.b1 {
  background-color: #fef200;
  height: 130px;
  width: 250px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
.b2 {
  background-color:#ed1b24;
  height: 130px;
  width: 250px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;